<h2><%= " #{t('request_status')} : #{@request.decision} " %></h2>


<p> <%= t("competition_requests.show.time_ago") %>: <%= l(@request.created_at) %></p>

<%- if @request.answer  %>
<p>
 <%= @request.answer %>
</p>
<% end %>