<h1><%= @album.title %></h1>
<br>

<div class="row">

   <% @album.site_photos.each_with_index do |photo,index| %>
  
    <div class="col-sm-3" >
  
    <div class="thumbnail">  
     
      <%= render partial: "photos/thumb", locals: { photo: photo, path: site_photo_path(photo) } %>
      <%- l1 = link_to del_icon, site_photo_path(photo.id), method: :delete, data: { confirm: 'Are you sure?' } if is_stuff? %>
      <%= render partial: "photos/caption", locals: { photo: photo, links: [l1] } %>

     
    </div>
    
    
    
  </div>

  <% end %>
  
</div>
