<h3><%= t("jury_choose_competition") %></h3>


<%= simple_form_for :jury, :url => jury_view_photos_path, method: :get do |f| %>
   
    <div class="form-group">
    	<%= f.input :competition_id, selected: 1, label: t("competition_"), collection: @competitions, label_method: :title, value_method: :id, :input_html => {class: "form-control"}  %>
    </div>

  <%= f.button :submit, value: t("choose_competition"), class: "btn btn-default" %>



<% end %>
