<h1>Уведомлениe</h1>

<p>
<%= @user.full_name %>
</p>

<p>
  Касательно Вашей заявки на конкурс "<%= @competition_title %>"
</p>

<p>
  Спешим сообщить об изменении статуса Вашей заявки:
  Текущий статус: <b> <%= @decision %> </b>
  <br>
  <% unless @answer.blank? %>
    <p>
      Комментарий администратора: <i> <%= @answer %> </i>
    </p>

  <% end  %>

</p>