<p>
  <strong>Название:</strong>
  <%= @site_photo.title %>
</p>

<p>
  <%= image_tag @site_photo.picture_url(:normal) %>
</p>

<hr/>

<%= link_to 'Edit', edit_admin_site_photo_path(@site_photo) %> |
<%= link_to 'Back', admin_site_photos_path %>
