<div class="modal fade" id = "age_agreement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Terms of use</h4>
      </div>
      <div class="modal-body">
        <p>By clicking 'Ok' button i confirm that i am 18 years or older.</p>
        <p>In case you are the registered user, please fill in your birth date in your profile.</p>
        <p>It will help you to avoid clicking "18+"" button every time you enter the site.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to 'Ok', age_agreement_agreed_path %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->