<%- if conversation.is_unread?(recipient) %>
<span class="label label-default">
  <%= link_to recipient.full_name, user_profile_path(recipient) %>
</span>
<%- else %>
<span class="label label-success">
  <%= link_to recipient.full_name, user_profile_path(recipient) %>
</span>
<%- end %>
<br>