<% breadcrumb :view_competition_nominations, @competition %>

<h1><%= @competition.title %></h1>

<%= link_to t('competition_rules'), competition_path(@competition) %>

<ul class="list-unstyled">

<%- @competition.nominations.each do |nomination| %>

<li><h3><%= link_to nomination.title, view_photos_competition_path(@competition, nomination) %></h3></li>


<%- end %>

</ul>