<div class="span8">



<div class="jury_estimate">
    <!-- in this exemple, 12 is the average and 1 is the id of the line to update in DB -->
   <div class="basic" data-average="12" data-id="11:2" photo="12"></div>
    
</div>

</div>