- meta title: "Тюменский дом фотографии",
    description: "Тюменский дом фотографии",
    keywords: %w(Тюмень фотография дом фотоискусство фотоклуб)
 
- meta og: { image: asset_url('logo1.jpg'), title: "Тюменский дом Фотографии", url: root_url }

- if @setting_decorator.album 

  - if @setting_decorator.show_main_header
    h3
      = t(:tdp_presents) 

    br
    = link_to elki(@setting_decorator.album_title), album_path(@setting_decorator.album) if @setting_decorator.album 
    |&nbsp;
    small 
      = author_label(@setting_decorator.album) 
      | : 
      = @setting_decorator.authors if @setting_decorator.album && @setting_decorator.album.authors 

div style="clear:both" 
hr
- if @setting_decorator.photos 
  .fotorama data-autoplay="true" data-fit="scaledown" data-transition="crossfade" data-width="100%" 
    - @setting_decorator.photos.each do |photo| 
      = link_to '', photo.image_url_for_main_carousel(current_user, session[:agreed], :normal)

div style="clear:both" 
hr
- if @setting_decorator.novelty  
  .main_novelty
    h3 = t('main_novelty') 
    = image_tag(@setting_decorator.novelty.first_image_src, style: "float: left; padding-right: 20px; width: 30%")
    
    h2 = link_to @setting_decorator.novelty.title, novelty_path(@setting_decorator.novelty)
    p = raw @setting_decorator.novelty.digest 
    small = age_badge(@setting_decorator.novelty.age_policy_age)

div style="clear:both" 
hr

/ - @setting_decorator.other_novelties.each_with_index  do |novelty, index| 
/   .col-md-5
/     .panel.panel-default
/       .panel-heading
/         = age_badge(novelty.age_policy_age) 
/         |&nbsp;
/         = link_to novelty.title, novelty_path(novelty)
/       .panel-body
/         = image_tag(post_image(novelty), style: "max-height: 150px")
/         = raw novelty.digest 

.row
  - @setting_decorator.other_novelties.each_with_index  do |novelty, index|
    .col-xs-6.col-md-3
      .thumbnail
        = image_tag(post_image(novelty), style: "max-height: 150px")
      .caption
        = age_badge(novelty.age_policy_age)
        |&nbsp;
        = link_to novelty.title, novelty_path(novelty) 
        br
        = raw novelty.digest



div style="clear:both" 
hr
- if @setting_decorator.first_article
  .first_article
    h3 = t('recommended_article')
    = image_tag(@setting_decorator.first_article.first_image_src, style: "float: left; padding-right: 20px; width: 40%")
    h3 = link_to @setting_decorator.first_article.title, article_path(@setting_decorator.first_article) 
  small.text-muted = @setting_decorator.first_article.author
  |, &nbsp;
  small.text-muted = ld @setting_decorator.first_article.created_at
  
  = raw @setting_decorator.first_article.digest
  small = age_badge(@setting_decorator.first_article.age_policy_age)

div style="clear:both"
hr

.muted = t("more_articles")
.row
  - @setting_decorator.other_articles.each_with_index  do |article,index|
    .col-xs-6.col-md-3
      .thumbnail
        = image_tag(post_image(article), style: "max-height: 150px")
      .caption
        = age_badge(article.age_policy_age)
        |&nbsp;
        = link_to article.title, article_path(article) 


div style="clear:both"
hr
- if @last_photos
  h3= t('last_photos')
  .row style=("padding-bottom: 70px") 
    - @last_photos.each do |photo|  %
      .col-sm-3
        = render partial: "photos/thumb", locals: { photo: photo, path: gallery_show_path(photo), user: current_user, agreed: session[:agreed] } 
        = render partial: "photos/caption", locals: { photo: photo, links: [] }


