<h1>Документы</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата</th>
      <th>За</th>
      <th>Против</th>
      <th>Статус</th>
      <th></th>
      </tr>
  </thead>

  <tbody>
    <% @documents.each do |doc| %>
      <tr id="doc-<%= doc.id %>">
        <%= render partial: 'td', locals: { doc: doc } if can? :read, doc %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
