<% breadcrumb :album, @album %>


<h1><%= @album.title %></h1>
<br>

<%= render partial: "description", locals: {album: @album} %>

<div class="row">

   <% @album.album_photos.each_with_index do |album_photo,index| %>
  
    <div class="col-sm-3" >
      <div class="thumbnail">  
	      <%= render partial: "photos/thumb", locals: { photo: album_photo.photo, path: album_photo_path(album_photo) } %>
	      <%= render partial: "photos/caption", locals: { photo: album_photo.photo, links: [] } %>
	    </div>
	  </div>

  <% end %>
  
</div>

