<div class="feedback">
    <a id="feedback_button">Feedback</a>
    
    <div class="form">
    <h2>Please Send Us Your Feedback</h2>
        <span class="status"></span>
        <textarea id="feedback_text"></textarea>
        <input type="button" value="Send" id="submit_form" />
    </div>
</div>