<%= simple_form_for(:filter, url: admin_competition_requests_path(@competition), method: :get) do |f| %>
  <%= f.error_notification %>


    <div class="form-group">
        <%= f.input :response_id, collection: CompetitionRequest.response_ids_i18n.invert %>
    </div>
    
    
    <%= f.button :submit, value: t("filter"), input_html: {class: "btn btn-default" } %>
  
<% end %>
