<div id="whatever" class="col-md-8">

<% @freqs.each do |f| %>
  <a href = "<%=  f[0] %>" rel = "<%= f[1] %>"> <%= f[0] %> </a>
<% end %> 
</div>



<script>
$.fn.tagcloud.defaults = {
  size: {start: 18, end: 26, unit: 'pt'},
  color: {start: '#6a95bd', end: '#cc6c60'}
}; 

$(function () {
  $('#whatever a').tagcloud();
});

</script>

