<% meta title: "Тюменский дом фотографии",
     description: "Последние загруженные фотографии",
     keywords: %w(последние фотографии)
%>


<% breadcrumb :last_photos %>


<%= render partial: 'admin/ajax/chosen' %>

<%= will_paginate @last_photos %>

<div class="row">
    
    <div class="col-lg-12">
      <h1><%= t('last_photos') %></h1>
      
    </div>

   <%= render partial: 'photo_collection', locals: { photos: @last_photos } %>
  
</div>


