<h1>Последние фотографии</h1>
<br>

<%= will_paginate @last_photos %>

<div class="row">

    <% @last_photos.each_with_index do |photo,index| %>
  
    <div class="col-sm-3">
    <div class="thumbnail">  
      

    <%= render partial: "photos/thumb", locals: { photo: photo, path: gallery_show_path(photo) } %>
    <%- l1 = link_to plus_icon, admin_choose_site_photo_path(photo.id) if is_stuff? %>
    <%= render partial: "photos/caption", locals: { photo: photo, links: [l1] } %>


    

    </div>
    
    
    
  </div>

  <% end %>
  
</div>


