<h1>Последние фотографии</h1>
<br>

<%= will_paginate @last_photos %>

<div class="row">



    <% @last_photos.each_with_index do |photo,index| %>
  
    <div class="col-sm-3" >
    <div class="thumbnail">  
      <a href=<%= gallery_show_path(photo) %> class="thumbnail" >
          <%= image_tag photo.image_url(:thumb),style: "height: 150px;" %>
        </a>
    
    <div class="caption">
     <small>  <%= photo.title %>     </small>
    </div>  
    </div>
    
    
  </div>

  <% end %>
  
</div>


