
<%= render partial: "photos/image", locals: { photo: @photo } %>


<h4> <%=  t("comments") if @photo.comments.count > 0 %> </h4>


<%= render partial: "comment/comments_under_user", locals: {resource: @photo } %>


<%= render partial: "comment/form", locals: { user: current_user, resource: @photo} %>

