<p class="text-center">
  <%= image_tag photo.image_url(:normal) %>
</p>

<p>
 <%= age_badge(photo.age_policy.age) %> 
</p>

<p>
  <strong>Название:</strong>
  <%= photo.title %>
</p>

<% if photo.has_owner? %>
<p>
	<strong>Автор: </strong>
  <%= link_to(photo.user_name, user_profile_path(photo.user))  %>
</p>
<% end %>

<hr/>