<div class="caption">
 <small> <%= age_badge(photo.age_policy_age) %> </small>
  
  <span style = "float: right">  
  <span class="label label-warning"><%= place %></span>
    <span class="label label-success"><%= rating %></span>
    <span class="label label-info"><%= likes %></span>
  </span>
</div>  