<h1>Новости</h1>

<%- @info.novelties.each do |a| -%>

<h2><%= a.title %></h2>
<p><%= raw a.digest %></p>
<hr>
<%- end -%>

<h1>Статьи</h1>

<%- @info.articles.each do |a| -%>

<h2><%= a.title %></h2>
<p><%= raw a.digest %></p>
<hr>
<%- end -%>
