<% meta title: "Тюменский дом фотографии",
     description: "О Тюменском доме фотографии",
     keywords: %w(правила тюмень фотография)
%>

<% breadcrumb :about_rules %>

<h1><%= I18n.t(:rules) %></h1>
<%= raw SiteRule.rules(I18n.locale) %>