/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require token-input-facebook
 *= require redactor-rails
 *= require fotorama


 */







        html, body {
            height: 100%;


        }

        
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        
    /*.center {display:block; margin:0 auto;}*/

    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


/*Center navbar*/
/*.navbar .navbar-collapse  ul {
position:relative;left:50%;float:left;margin-right:0;margin-left:0;
}

 ADDED for centering navbar items 
.navbar .navbar-collapse  li {
position:relative;right:50%;float:left;margin:0;list-style:none
}
*/



.back {
 
 background: rgb(59,61,69); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,61,69,1) 0%, rgba(59,61,69,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,61,69,1)), color-stop(100%,rgba(59,61,69,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(59,61,69,1) 0%,rgba(59,61,69,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(59,61,69,1) 0%,rgba(59,61,69,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(59,61,69,1) 0%,rgba(59,61,69,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(59,61,69,1) 0%,rgba(59,61,69,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3d45', endColorstr='#3b3d45',GradientType=0 ); /* IE6-9 */


}


