/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require token-input-facebook
 *= require redactor-rails
 *= require fotorama
 *= require font-awesome
 

 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

.form-actions {
    margin-top: 10px;
}




        html, body {
            height: 100%;


        }

        
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        
    /*.center {display:block; margin:0 auto;}*/

    .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


/*Center navbar*/
/*.navbar .navbar-collapse  ul {
position:relative;left:50%;float:left;margin-right:0;margin-left:0;
}

 ADDED for centering navbar items 
.navbar .navbar-collapse  li {
position:relative;right:50%;float:left;margin:0;list-style:none
}
*/



.back {
    background: #fff;

}

