
</p>
Здравствуйте, <%= @resource.full_name %> !
Приветствуем вас на сайте Тюменского Дома фотографии и поздравляем с успешной регистрацией!
Для изменения пароля нажмите на ссылку.
<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>