<% breadcrumb :novelties %>

<h1>Новости</h1>

  
<%= will_paginate @posts, renderer: BootstrapPagination::Rails%>

<ul>

    <%@novelties.each do |novelty| %>

    
     <li><h4><%= age_badge(novelty.age_policy_age) %> <%=link_to novelty.title,novelty %></h4>
      
      
      

<% end %>

</ul>
