<% breadcrumb :novelty, @novelty %>

<p id="notice"><%= notice %></p>

<h1>
  
  <%= @novelty.title %>
</h1>

<p>
  <%= raw @novelty.content %>
</p>

<small>
  <%=ld @novelty.publish_date %>
</small>
<br>
