<%= link_to t(:apply),aply_competition_path(@competition),{class: "btn btn-primary"} %>

<h1><%= @competition.title %></h1>
<h2>Отправленные фотографии</h2>
<br>
<div class="row">

    <% @competition_photos.each_with_index do |photo,index| %>
 
    <div class="col-sm-3" style="height: 290px;">
    <div class="thumbnail">  
      <a class="thumbnail" >
          <%= image_tag photo.image_url(:thumb),data: {src: photo.image_url(:thumb)} %>
        </a>
    
    <div class="caption">
     <small>  <%= "#{photo.title} (#{photo.nomination.title})" %>     </small>
    </div>  
    </div>
    
    
  </div>

  <% end %>
  
</div>

