
<%= link_to "Apply",aply_competition_path(@competition) %>

<h1>Отправленные фотографии</h1>
<br>
<div class="row">

    <% @competition_photos.each_with_index do |photo,index| %>
 
    <div class="col-sm-3" style="height: 290px;">
    <div class="thumbnail">  
      <a class="thumbnail" >
          <%= image_tag photo.image_url(:thumb),data: {src: photo.image_url(:thumb)} %>
        </a>
    
    <div class="caption">
     <small>  <%= photo.title %>     </small>
    </div>  
    </div>
    
    
  </div>

  <% end %>
  
</div>

