<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t(:about_us) %><b class="caret"></b></a>
 
  <ul class="dropdown-menu">
    
   
    <li><%= link_to t('history'), about_us_path %></li>
    <li><%= link_to t('rules'), about_rules_path %></li>
    
    
  </ul>

</li>
