<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Управление<b class="caret"></b></a>
 
  <ul class="dropdown-menu">
    <li><a href="#"><%= link_to 'Пользователи', users_path if current_user && current_user.admin? %></a></li>
    <li><a href="#"><%= link_to 'Темы', topics_path %></a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li>
  </ul>

</li>
