<div class="modal fade" id = "age_agreement">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Соглашение</h4>
      </div>
      <div class="modal-body">
        <p>Я подтверждаю, что являются совершеннолетним (старше 18 лет).</p>
        <p>В случае если вы являетесь зарегестрированным пользователем, укажите дату рождения в профиле, чтобы избежать повторной
        необходимости подтверждать свое совершеннолетие повторно.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <%= link_to 'Я согласен', age_agreement_agreed_path %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->