<hr>
<footer class="row">
    <nav class="col col-lg-12">
      <%= render 'banners/bottom' %>  
      <ul class="breadcrumb">
        <li><a href="">All rights reserved</a></li>
        
      </ul><!-- breadcrumb -->
    </nav><!-- nav -->
  </footer><!-- footer -->