<br>
<footer class="row">
    <nav class="col col-lg-12">
      <%= render 'banners/bottom' %>  
      <ul class="breadcrumb">
        <li><%= Admin::Setting.footer %></li>
        
      </ul><!-- breadcrumb -->
      <%= render 'layouts/yandex_counter' %> 
    </nav><!-- nav -->
  </footer><!-- footer -->