<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Модерация<b class="caret"></b></a>
 
  <ul class="dropdown-menu">
    <li><a href="#"><%=link_to("Новости",novelties_path) if can? :read,Novelty %></a></li>
    <li><a href="#"><%=link_to "Переписка",admin_messages_path if can? :manage,Message %></a></li>
    <li><a href="#"><%=link_to "Фотографии",admin_photos_path if can? :manage,Photo %>  </li>
    <li class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li>
  </ul>

</li>
