<li class="dropdown <%= "active" if params[:controller] == "albums" || params[:controller] == "gallery" %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Фотографии<b class="caret"></b></a>
 
  <ul class="dropdown-menu">
    
    <li><%= link_to I18n.t(:galleries), albums_path %></li>
    <li><%= link_to 'Последние фотографии', gallery_index_path %></li>
    
    <li><%= link_to 'Авторы', author_index_path %> </li>

  </ul>
</li>
